<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybilibili.web.mapper.TagMapper">
    <select id="selectByName" parameterType="java.lang.String" resultType="com.mybilibili.common.entity.Tag">
        SELECT * FROM tags WHERE name = #{name}
    </select>

    <insert id="insert" parameterType="com.mybilibili.common.entity.Tag" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tags (name)
        VALUES (#{name})
    </insert>

    <select id="selectByVideoId" parameterType="java.lang.Integer" resultType="com.mybilibili.common.entity.Tag">
        SELECT t.* FROM tags t
        JOIN video_tags vt ON t.id = vt.tag_id
        WHERE vt.video_id = #{videoId}
    </select>
</mapper>